include .coveragerc
include .flake8rc
include .gitattributes
include .gitignore
include .isort.cfg
include LICENSE
include Makefile
include Makefile.conf
include Manifest.in
include README.md
include docs/.gitignore
include docs/Makefile
include docs/commands.rst
include docs/conf.py
include docs/conversion.rst
include docs/expression.rst
include docs/extension.rst
include docs/index.rst
include docs/more.rst
include docs/object.rst
include docs/prelude.rst
include docs/term.rst
include docs/theory.rst
include docs/type.rst
include docs/type_constructor.rst
include docs/util.rst
include examples/.gitignore
include examples/overview.ipynb
include pytest.ini
include setup.py
include tests/__init__.py
include tests/data/time.ofn
include tests/profile_object_equal.py
include tests/profile_util.py
include tests/profiler.py
include tests/test_commands.py
include tests/test_converter_ast.py
include tests/test_converter_sparql.py
include tests/test_converter_z3.py
include tests/test_expression.py
include tests/test_expression_abstraction.py
include tests/test_expression_extra.py
include tests/test_extension.py
include tests/test_formula.py
include tests/test_graph.py
include tests/test_macro.py
include tests/test_object.py
include tests/test_parser_json.py
include tests/test_parser_ofn.py
include tests/test_rule.py
include tests/test_rule_derived.py
include tests/test_rule_e.py
include tests/test_rule_z3.py
include tests/test_sequent.py
include tests/test_serializer_ulkb.py
include tests/test_serializer_ulkb_abstraction.py
include tests/test_serializer_ulkb_and.py
include tests/test_serializer_ulkb_application.py
include tests/test_serializer_ulkb_base_type.py
include tests/test_serializer_ulkb_constant.py
include tests/test_serializer_ulkb_equal.py
include tests/test_serializer_ulkb_exists.py
include tests/test_serializer_ulkb_exists1.py
include tests/test_serializer_ulkb_falsity.py
include tests/test_serializer_ulkb_forall.py
include tests/test_serializer_ulkb_function_type.py
include tests/test_serializer_ulkb_iff.py
include tests/test_serializer_ulkb_implies.py
include tests/test_serializer_ulkb_new_type_constructor.py
include tests/test_serializer_ulkb_not.py
include tests/test_serializer_ulkb_or.py
include tests/test_serializer_ulkb_sequent.py
include tests/test_serializer_ulkb_theory.py
include tests/test_serializer_ulkb_truth.py
include tests/test_serializer_ulkb_type_constructor.py
include tests/test_serializer_ulkb_variable.py
include tests/test_settings.py
include tests/test_term.py
include tests/test_theory.py
include tests/test_type.py
include tests/test_type_constructor.py
include tests/tests.py
include tox.ini
include ulkb/__init__.py
include ulkb/commands.py
include ulkb/converter/__init__.py
include ulkb/converter/ast.py
include ulkb/converter/converter.py
include ulkb/converter/sparql.py
include ulkb/converter/z3.py
include ulkb/defined.py
include ulkb/error.py
include ulkb/expression.py
include ulkb/extension.py
include ulkb/graph/__init__.py
include ulkb/graph/error.py
include ulkb/graph/query.py
include ulkb/graph/settings.py
include ulkb/graph/sparql.py
include ulkb/graph/wikidata.py
include ulkb/graph/wikidata_properties.json
include ulkb/object.py
include ulkb/parser/__init__.py
include ulkb/parser/json.py
include ulkb/parser/ofn.lark
include ulkb/parser/ofn.py
include ulkb/parser/parser.py
include ulkb/prelude/__init__.py
include ulkb/prelude/bootstrap.py
include ulkb/prelude/formula.py
include ulkb/prelude/order.py
include ulkb/prelude/rule_derived.py
include ulkb/prelude/rule_e.py
include ulkb/prelude/rule_primitive.py
include ulkb/prelude/rule_z3.py
include ulkb/prelude/settings.py
include ulkb/prelude/type_int.py
include ulkb/prelude/type_real.py
include ulkb/prelude/type_str.py
include ulkb/rule.py
include ulkb/sequent.py
include ulkb/serializer/__init__.py
include ulkb/serializer/json.py
include ulkb/serializer/serializer.py
include ulkb/serializer/tptp.py
include ulkb/serializer/ulkb.py
include ulkb/settings.py
include ulkb/theory.py
include ulkb/theory_settings.py
include ulkb/util.py
